body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f6f7;
}

*{
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {
  text-align: center ;
}

.summary-container {
  text-align: center ;
  
 
}



.globalHeader {
  font-family: 'Fugaz One', cursive;
  text-align: center;
  width: 100%;
  /*border: red solid 2px;*/
  margin: 5px 0px;
  background-color: #1f1f1f;
  color: #5292b7

}

.habbitContainer {
  display: flex;
  flex-direction: row;
  /*border: red solid 2px;*/
  margin: 5px 0px;
  justify-content: space-evenly;
  /* background-color: #1f1f1f; */
}

.habbitList {
  width: 500px;
  border-left: darkblue; 
 border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  
}
.containerTitle {
 
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #94bb8b;
  color: #ffffff;
  letter-spacing: 2px;
}

.Habbit {
  
  border-radius: 15px;
  margin: 10px;
  background-color: #dcdfe4;
  
  
}

.button-div{

  text-align: center ;
}

.notesContainer {
  display: flex;
  flex-direction: row;
  /*border: red solid 2px;*/
  margin: 5px 0px;
  justify-content: space-evenly;
  background-color: #576894;
  padding:30px;
}

.notes {
  /*border: green solid 2px;*/
  border-radius: 15px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}